@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dancing+Script&family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-heading: 'Montserrat', sans-serif;
  --ff-texting: 'DM Sans', sans-serif;
  --ff-luck: 'Dancing Script', cursive;
  
  --color-texting: rgba(52, 53, 91, 1);
  --color-button: rgba(255, 149, 0, 1);



}

body {
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;

  background-size: 200% 200%;

  animation: backgroundMove 8s ease infinite;
}

#app {
  max-width: 43rem;
  max-height: 56rem;
  padding: 4.8rem 6.4rem  6.4rem  6.4rem;

  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: .5rem;

  text-align: center;
}

#app h1 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: var(--color-texting);

  margin-bottom: 1.4rem;
}

#app p {
  font-family: var(--ff-texting);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  color: var(--color-texting);
}

.handleClick:hover {
animation: shake .5s infinite;
cursor: pointer;
}

.luck {
  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  rotate: -.5deg;

  font-family: var(--ff-luck);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;



  animation: insideCookie 1.3s ;
}

.luck p {
  max-width: 2.7rem;
}

button {
  font-family: var(--ff-texting);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  padding: 1.6rem;

  color: #ffffff;
  background: var(--color-button);

  border: none;
  border-radius: .4rem;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.hide {
  display: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes backgroundMove {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes insideCookie {
  from {
    transform: scaleX(0.2) translateY(10rem);
  }
}